.weather {
  color: white;
  font-family: league-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 10px;
}

.very-warm {
  background-color: #FF8500;
}
.warm {
  background-color: #ffc600;
}
.normal {
  background-color: #94AF10;
}
.cold {
  background-color: #06799F;
}
.very-cold {
  background-color: #233884;
}

.city {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.icon {
  text-align: center;
  height: 40px;
  width: 50px;
}

.temp {
  font-size: 20px;
  padding: 2px;
}

.wind-speed {
  font-size: 20px;
  padding: 2px;
}

.summary {
  font-size: 20px;
}

.container-fluid {
  height: 100vh;
}

.pm {
  font-size: 20px;
  padding: 5px;
}