.weather {
  color: white;
  font-family: league-gothic, sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 10px;
}

.very-warm {
  background-color: #FF8500;
}
.warm {
  background-color: #ffc600;
}
.normal {
  background-color: #94AF10;
}
.cold {
  background-color: #06799F;
}
.very-cold {
  background-color: #233884;
}

hr {
  background-color:white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.icon-today {
  height: 40px;
  width: 70px;
}

.icon-hourly {
  height: 25px;
  width: 45px;
}

.container-fluid {
  height: 100vh;
}
